img{
	width: 100% !important;
	height: auto !important;
}
/* Dropdown */
.main-category{
    opacity:0;
	visibility:hidden;
}
.cat-heading:hover + .main-category{
    opacity:1;
	visibility:visible;
}
.main-category:hover{
    opacity:1;
	visibility:visible;
}
.cat-heading{
	background-color: grey;
}
.cat-heading:hover{
	background-color: #F7941D;
}
.main-category a:hover + .main-category{
	background-color: #F7941D;
}
/* Homepage */
.single-banner{
	height: 350px;
}
.trending-item{
	height: 350px !important;
}
.shaders{
	height: 100% !important;
}
.very-light-grey{
	color: lightgrey !important;
}
.very-light-grey-button{
	background-color: lightgrey !important;
}
.very-dark-grey{
	color: #333333 !important;
	font-weight: bold !important;
	margin: 0px !important;
}
.very-light-grey-button:hover{
	background-color: #F7941D !important;
}
/* Products Page */
.product-action a{
	background-color: darkgrey;
	color: white !important;
	font-weight: bold;
	padding: 9px;
}
.product-action a:hover{
	background-color: #F7941D;
}
.product-action{
	position: relative;
	top: 0%;
	left: 100%;
	transform: translate(-50%, -50%);
}
/* Single product page */
.product-image{
	height: 500px !important;
	width: 500px !important;
}
/* Cart page */
.ti-minus{
	padding-left: 32px;
}
/* History page */
.history_block{
	margin: auto;
	padding: 10px;
	width: 30% !important;
}
.center{
	margin: auto !important;
	text-align: center !important;
	display: block;
}
.order{
	width: 100%;
	padding: 3px;
	margin: 5px;
	border: dashed 1px;
}
.list-group-item{
	font-size: 15px;
}
.total_price{
	font-size: 20px;
}